In [1]:
import pandas as pd

In [8]:
!pip install polars -q

import polars as pl

In [2]:
df = pd.read_csv('online_shoppers_intention.csv')

In [3]:
df.shape

(12330, 18)

In [6]:
df_big = df.copy()

for i in range(100):
  df_big = pd.concat([df_big, df])

df_big.to_csv("diamonds_big.csv", index=False)

In [5]:
df_big.shape

(1245330, 18)

Загрузка данных

In [9]:
%%time

df_pl = pl.read_csv("diamonds_big.csv")

CPU times: total: 2.8 s
Wall time: 2.23 s

In [10]:
%%time

df = pd.read_csv("diamonds_big.csv")

CPU times: total: 5.03 s
Wall time: 5.18 s

Фильтрация данных

In [18]:
%%time

df[(df.Month == 'May') & (df.PageValues > 1)]

CPU times: total: 203 ms
Wall time: 198 ms

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
2091,0,0.000000,0,0.0,15,292.694444,0.000000,0.005128,54.980000,0.0,May,3,2,4,4,Returning_Visitor,False,True
2093,2,254.000000,1,39.0,95,4990.959524,0.004124,0.015308,5.638103,0.0,May,2,2,1,6,Returning_Visitor,False,True
2098,5,85.666667,0,0.0,25,1194.500000,0.000000,0.007692,11.519231,0.0,May,2,2,1,2,New_Visitor,False,True
2108,0,0.000000,0,0.0,12,896.500000,0.008333,0.025000,14.689500,0.6,May,2,5,1,5,Returning_Visitor,False,True
2110,6,97.882353,2,9.0,58,2293.599020,0.008358,NaN,6.748500,0.0,May,2,2,7,4,Returning_Visitor,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238440,3,453.000000,3,493.5,36,1199.522619,0.004762,0.011534,9.323532,0.0,May,6,2,2,4,Returning_Visitor,False,False
1238441,1,32.000000,0,0.0,18,299.500000,0.015789,0.022807,19.448000,0.0,May,2,2,5,1,Returning_Visitor,True,True
1238443,3,101.666667,0,0.0,22,2250.083333,0.000000,0.019565,32.707304,0.0,May,2,4,4,1,Returning_Visitor,False,True
1238449,5,69.500000,4,116.0,84,2839.750000,0.000000,0.006593,6.281495,0.0,May,2,4,9,2,New_Visitor,False,False
1238453,2,76.000000,1,79.0,35,2072.666667,0.007207,0.031081,8.100000,0.8,May,2,4,7,2,Returning_Visitor,False,False

In [20]:
%%time

df_pl.filter((pl.col('Month') == 'May') & (pl.col('PageValues') > 1))

CPU times: total: 109 ms
Wall time: 40.5 ms

shape: (73_528, 18)
┌────────────────┬───────────────┬───────────────┬───────────────┬───┬─────────────┬───────────────┬─────────┬─────────┐
│ Administrative ┆ Administrativ ┆ Informational ┆ Informational ┆ … ┆ TrafficType ┆ VisitorType   ┆ Weekend ┆ Revenue │
│ ---            ┆ e_Duration    ┆ ---           ┆ _Duration     ┆   ┆ ---         ┆ ---           ┆ ---     ┆ ---     │
│ i64            ┆ ---           ┆ i64           ┆ ---           ┆   ┆ i64         ┆ str           ┆ bool    ┆ bool    │
│                ┆ f64           ┆               ┆ f64           ┆   ┆             ┆               ┆         ┆         │
╞════════════════╪═══════════════╪═══════════════╪═══════════════╪═══╪═════════════╪═══════════════╪═════════╪═════════╡
│ 0              ┆ 0.0           ┆ 0             ┆ 0.0           ┆ … ┆ 4           ┆ Returning_Vis ┆ false   ┆ true    │
│                ┆               ┆               ┆               ┆   ┆             ┆ itor          ┆         ┆         │
│ 2              ┆ 254.0         ┆ 1             ┆ 39.0          ┆ … ┆ 6           ┆ Returning_Vis ┆ false   ┆ true    │
│                ┆               ┆               ┆               ┆   ┆             ┆ itor          ┆         ┆         │
│ 5              ┆ 85.666667     ┆ 0             ┆ 0.0           ┆ … ┆ 2           ┆ New_Visitor   ┆ false   ┆ true    │
│ 0              ┆ 0.0           ┆ 0             ┆ 0.0           ┆ … ┆ 5           ┆ Returning_Vis ┆ false   ┆ true    │
│                ┆               ┆               ┆               ┆   ┆             ┆ itor          ┆         ┆         │
│ …              ┆ …             ┆ …             ┆ …             ┆ … ┆ …           ┆ …             ┆ …       ┆ …       │
│ 1              ┆ 32.0          ┆ 0             ┆ 0.0           ┆ … ┆ 1           ┆ Returning_Vis ┆ true    ┆ true    │
│                ┆               ┆               ┆               ┆   ┆             ┆ itor          ┆         ┆         │
│ 3              ┆ 101.666667    ┆ 0             ┆ 0.0           ┆ … ┆ 1           ┆ Returning_Vis ┆ false   ┆ true    │
│                ┆               ┆               ┆               ┆   ┆             ┆ itor          ┆         ┆         │
│ 5              ┆ 69.5          ┆ 4             ┆ 116.0         ┆ … ┆ 2           ┆ New_Visitor   ┆ false   ┆ false   │
│ 2              ┆ 76.0          ┆ 1             ┆ 79.0          ┆ … ┆ 2           ┆ Returning_Vis ┆ false   ┆ false   │
│                ┆               ┆               ┆               ┆   ┆             ┆ itor          ┆         ┆         │
└────────────────┴───────────────┴───────────────┴───────────────┴───┴─────────────┴───────────────┴─────────┴─────────┘

Агрегация данных

In [29]:
%%time

df.groupby('Month').agg({'Revenue' : 'sum', 'ProductRelated_Duration' : 'mean'})

CPU times: total: 172 ms
Wall time: 176 ms

       Revenue  ProductRelated_Duration
Month
Aug       7575              1272.096712
Dec      21513              1112.549675
Feb        303               468.787489
Jul       6464              1184.443839
June      2929              1207.771484
Mar      19190               810.300246
May      36663               978.842537
Nov      76053              1762.104918
Oct      11615              1125.588715
Sep       8686              1184.644715
aug       1717              1083.889901

In [30]:
%%time

df_pl.groupby('Month').agg([pl.sum('Revenue'), pl.mean('ProductRelated_Duration')])

CPU times: total: 172 ms
Wall time: 72 ms

shape: (11, 3)
┌───────┬─────────┬─────────────────────────┐
│ Month ┆ Revenue ┆ ProductRelated_Duration │
│ ---   ┆ ---     ┆ ---                     │
│ str   ┆ u32     ┆ f64                     │
╞═══════╪═════════╪═════════════════════════╡
│ aug   ┆ 1717    ┆ 1083.889901             │
│ Mar   ┆ 19190   ┆ 810.300246              │
│ June  ┆ 2929    ┆ 1207.771484             │
│ Sep   ┆ 8686    ┆ 1184.644715             │
│ …     ┆ …       ┆ …                       │
│ Feb   ┆ 303     ┆ 468.787489              │
│ Nov   ┆ 76053   ┆ 1762.104918             │
│ Oct   ┆ 11615   ┆ 1125.588715             │
│ Dec   ┆ 21513   ┆ 1112.549675             │
└───────┴─────────┴─────────────────────────┘

Polars оказывается быстрее Pandas'a или на одном уровне с ним во всех опробованных задачах загрузки и обработки больших данных